.container {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    min-width: 320px;
    margin-left: 0;
}

.img-container {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
    cursor: grab;
}

.img360 {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

#preload-imgs {
    display: none;
}